.home-page {
    background: linear-gradient(to bottom, rgba(0, 252, 207, .5), rgba(72, 133, 237, .5)), url(../../assets/images/chart-coffee-cup-590037.jpg);
    background-size: cover;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
}

h1{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.login-content{
    margin: 15% 10% 15% 10%;
}

.login-content p{
    color: #fff;
    font-size: 18px;
    padding-top: 50px;
}

.form-area{
    padding: 15vh 11vw 10vh 10vw;
}

.copy-right{
    color: #fff;
}
