.login-page {
    background: linear-gradient(to bottom, rgba(0, 252, 207, .5), rgba(72, 133, 237, .5)), url(../../assets/images/chart-coffee-cup-590037.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    width: fit-content;
    min-height: 100vh;
    padding: 20px;
}
.content-form{
    display: flex;
}
.login-content{
    margin: 50px 10px 10px 10px;
    padding-top: 50px;
}

.login-content h1{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.login-content p{
    color: #fff;
    font-size: 18px;
    padding-top: 50px;
}
.login-form-section{
    background: #fff;
    margin: 40px 30px;
    padding: 20px;
    display:block;
    border-radius: 10px;
    width: 350px; 
}
.form-group{
    display: grid;
    padding-top: 15px;
}

.social-login{
    display: grid;
}

.pass-reset{
    display: flex;
    justify-content: space-between;
}
.new-account-link a,
.forgot-pass a{
    text-decoration: none;
    color: #4885ed;
}
.new-account-link p{
    text-align: left !important;
}
.forgot-pass{
    margin-top: 15px;
}
.control-label{
    font-size: 18px;
    padding-bottom: 4px;
}

.form-control{
    height: 35px;
    border: 1px solid #c4c4c4;
}

.form-control:focus, .form-control:active{
    outline: #07ffd2;
}

.btn {
    display: block;
    width: -webkit-fill-available;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.login-devc{
    background: linear-gradient(to right, rgba(0, 252, 207, .7), rgba(72, 133, 237, .7));
}

.btn{
    outline: none;
}

.login-facebook{
    background: #4885ED;
}

.login-google{
    background: rgb(187, 25, 47)
}
.login-form p{
    text-align: center;
    margin-bottom: 0;
}
.copy-right{
    color: #fff;
}
h2{
    text-align: center;
    text-transform: uppercase;
}
.alt-login{
    text-align: center;
    margin-bottom: 0;
}
